name: Push Builder Image

on:
  release:
    types:
    - published

jobs:
  push:
    name: Push
    runs-on: ubuntu-latest
    steps:

    - name: Parse Event
      id: event
      run: |
        echo "::set-output name=tag::$(jq -r '.release.tag_name' "${GITHUB_EVENT_PATH}" | sed s/^v//)"

    - name: Checkout
      uses: actions/checkout@v2

    - name: Get pack version
      id: pack-version
      run : |
        version=$(jq -r .pack "scripts/.util/tools.json")
        echo "::set-output name=version::${version#v}"

    - name: Install Global Pack
      uses: buildpacks/github-actions/setup-pack@main
      with:
        pack-version: ${{ steps.pack-version.outputs.version }}

    - name: Create Builder Image
      run: |
        pack create-builder builder --config builder.toml
        echo "Created builder. Would now push to docker"

    - name: Push To Dockerhub
    #   env:
    #     PAKETO_BUILDPACKS_DOCKERHUB_USERNAME: ${{ secrets.PAKETO_BUILDPACKS_DOCKERHUB_USERNAME }}
    #     PAKETO_BUILDPACKS_DOCKERHUB_PASSWORD: ${{ secrets.PAKETO_BUILDPACKS_DOCKERHUB_PASSWORD }}
      run: |
        # echo "${PAKETO_BUILDPACKS_DOCKERHUB_PASSWORD}" | docker login --username "${PAKETO_BUILDPACKS_DOCKERHUB_USERNAME}" --password-stdin
        echo "paketobuildpacks/builder:tiny"
        echo "paketobuildpacks/builder:${{ steps.event.outputs.tag }}-tiny"

    #     docker push "paketobuildpacks/builder:tiny"
    #     docker push "paketobuildpacks/builder:${{ steps.event.outputs.tag }}-tiny"

    # - name: Push To Dockerhub (cf)
    #   env:
    #     CLOUDFOUNDRY_DOCKERHUB_USERNAME: ${{ secrets.CLOUDFOUNDRY_DOCKERHUB_USERNAME }}
    #     CLOUDFOUNDRY_DOCKERHUB_PASSWORD: ${{ secrets.CLOUDFOUNDRY_DOCKERHUB_PASSWORD }}
    #   run: |
    #     echo "${CLOUDFOUNDRY_DOCKERHUB_PASSWORD}" | docker login --username "${CLOUDFOUNDRY_DOCKERHUB_USERNAME}" --password-stdin
    #     docker tag builder "cloudfoundry/cnb:tiny"
    #     docker tag builder "cloudfoundry/cnb:${{ steps.event.outputs.tag }}-tiny"

    #     docker push "cloudfoundry/cnb:tiny"
    #     docker push "cloudfoundry/cnb:${{ steps.event.outputs.tag }}-tiny"
